* {
    background-color: slategrey;
}

.welcome {
    text-align: center;
    font-weight: bold;
    border: black solid 2px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    display: block;
}